<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Culturocity</title>
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        style
            include ../views/r.css
    </head>
    <body>
        include navbar.pug
        <h1>Museums By Borough</h1>
        <div class="btn-group btn-group-justified"> 
            a(href="/borough/Manhattan" class="btn btn-primary") Manhattan
            a(href="/borough/Queens" class="btn btn-primary") Queens
            a(href="/borough/Brooklyn" class="btn btn-primary") Brooklyn
            a(href="/borough/Bronx" class="btn btn-primary") Bronx
            a(href="/borough/Staten Island" class="btn btn-primary") Staten Island
        </div>
        br
        <div class="container">
            <div class="flex-row row">
                if BoroughSearchResult
                    for val in final
                        include card.pug
            </div>
        </div>
        script
            include script.js
    </body>
</html>