<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Culturocity</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/">All Museums</a></li>
                    <li><a href="/borough">Museums By Borough</a></li>
                    <li><a href="/name">Search By Name</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                </ul>
            </div>
        </nav>
        <h1>All Museums</h1>
        if AllResult
            <div class="container">
                //- <table class="table table-striped">
                //-     <thead>
                //-         <tr><th>Name</th></tr>
                //-     </thead>
                //-     <tbody>
                //-         for val in AllMuseums
                //-             <tr>
                //-                 td= val.NAME
                //-             </tr>
                //-     </tbody>
                //- </table>
                <h1>Search for institution</h1>
                
            </div>
    </body>
</html>