<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Culturocity</title>
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        style
            include ../views/r.css
    </head>
    <body>
        include navbar.pug
        <h1>Museums By Name</h1>
        <div class="form-group center">
            <input id="input" type="text" class="form-control" placeholder="Search">
            <button onClick='window.location.href="/name/"+document.getElementById("input").value'; class="btn btn-primary button-top-5px">Submit</button>
        </div>
        br
        <div class="container">
            <div class="flex-row row">
                if NameResult
                    for val in AllName
                        include card.pug
            </div>
        </div>
        script
            include script.js
    </body>
</html>