<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header logo">
            <a class="navbar-brand" href="/">Culturocity</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/allmuseums">All Museums</a></li>
            <li><a href="/borough">Museums By Borough</a></li>
            <li><a href="/name">Search By Name</a>
            </li>
        </ul>
        <ul id="right" class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
        </ul>
    </div>
</nav>
br
br