<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Culturocity</title>
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        style
            include ../views/r.css
    </head>
    <body>
        include navbar.pug
        <h1>Profile</h1>
        <div class="container">
            <div class="flex-row row">
                if ProfileResult
                    for val in final
                        include card.pug
            </div>
        </div>
        script
            include script.js
    </body>
</html>