.flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.flex-row .thumbnail,
.flex-row .caption {
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    height: auto;
    position: relative;
}
.flex-text {
    flex-grow: 1;
}
.progress-bar-left-1px {
    margin-left: 1px;
}
.progress-bar-left-3px {
    margin-left: 3px;
}
.button-top-5px {
    margin-top: 5px;
}
.logo {
    font-family: 'Special Elite', cursive;
}
.icon {
    width: 33px;
    margin-right: 11px;
}
h1 {
    text-align: center;
}
.center {
    margin: auto;
    text-align: center;
    width: 25%;
}