<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Culturocity</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        style
            include ../views/r.css
    </head>
    <body>
        include navbar.pug
        <h1>Sign Up</h1>
        include usrpwd.pug
        <button onClick='signup()'; class="btn btn-default">Submit</button>
        script
            include script.js
    </body>
</html>